*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
      width: 100%;
      height: 100vh;
      display: grid;
      justify-content: center;
      align-items: center;
      background: linear-gradient(45deg,#0a0a0a,#3a4452);
      padding-top: 40px;

}
.calculator{
    border: 1px solid #717377;
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(113, 115, 119, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 100%;
    border: none;

    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    margin: 10px;
    text-align: right;
    padding: 10px;
    font-size: 40px;
    border-radius: 20px;
    color: white;
}
button{
    width: 120px;
    height: 80px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 90px;
    background: transparent;
    color: white;
    font-size: 30px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
.equalbtn{
    background: #fb7c14;
}
button:hover{
    background: #dcdcdc;
}
.operator{
    color: rgb(54, 255, 54);
}
.off{
    color: red;
}